root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.{nix,hs,raku,yml}]
indent_style = space
indent_size = 2

[*.{sh,bash}]
indent_style = tab

[COMMIT_EDITMSG]
max_line_length = 72
